* {
  margin: 0;
  padding: 0;
}

.container-x {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(0, 1000px);
  justify-content: center;
}

body,
html {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  & > div:nth-child(1) {
    width: 100%;
    height: 100%;
  }
}

.scroll {
  width: 100%;

  img {
    z-index: 0;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: inset 0 0 5px lightblue;
  }
}

.search_by_name {
  width: fit-content;
  height: fit-content;
  position: absolute;
  z-index: 5;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
